html, body {
  padding: 0;
  margin: 0;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  background-color: #273250;
  
}

.btn-nav-lr {
  position: absolute;
  width: 60px;
  height: 60px;
  color: rgba(255, 255, 255, 0.7);
  top: 50%;

  &:hover {
    color: white;
  }
}

.btn-left {
  left: 10px;
}
.btn-right {
  right: 10px;
}





